{
  "openapi": "3.0.1",
  "info": {
    "title": "Falu API Reference",
    "description": "The Falu REST API. For more information, check https://docs.falu.io/api-reference",
    "termsOfService": "https://falu.io/legal/terms",
    "contact": {
      "name": "API Support",
      "url": "https://falu.io/support",
      "email": "support@falu.io"
    },
    "license": {
      "name": "Falu API",
      "url": "https://falu.io/legal/terms"
    },
    "version": "2024-06-01"
  },
  "servers": [
    {
      "url": "https://api.falu.io"
    }
  ],
  "paths": {
    "/v1/billing/coupons": {
      "get": {
        "tags": [
          "Coupons"
        ],
        "summary": "List coupons",
        "operationId": "coupons-list",
        "parameters": [
          {
            "name": "type",
            "in": "query",
            "description": "Filter options for `type` property.",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/components/schemas/CouponType"
              }
            }
          },
          {
            "name": "frequency",
            "in": "query",
            "description": "Filter options for `frequency` property.",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/components/schemas/CouponFrequency"
              }
            }
          },
          {
            "name": "created.eq",
            "in": "query",
            "description": "Option for equal (=).\nRecommended only for fixed integral values.",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "created.lt",
            "in": "query",
            "description": "Option for less than (<).",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "created.lte",
            "in": "query",
            "description": "Option for less than or equal to (<=).",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "created.gt",
            "in": "query",
            "description": "Option for greater than (>).",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "created.gte",
            "in": "query",
            "description": "Option for greater than or equal to (>=).",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Order to use for sorting the objects returned. Defaults to `desc`.",
            "schema": {
              "allOf": [
                {
                  "$ref": "#/components/schemas/SortingOrder"
                }
              ],
              "default": "desc"
            }
          },
          {
            "name": "count",
            "in": "query",
            "description": "Maximum number of objects to return. Defaults to `10`.",
            "schema": {
              "maximum": 100,
              "minimum": 1,
              "type": "integer",
              "format": "int32",
              "default": 10
            }
          },
          {
            "name": "ct",
            "in": "query",
            "description": "A cursor for use in pagination.\nThe token from a previous request as gotten from the header of it's response.\nFor instance, if you make a request and receive 10 objects, the response contain\na `X-Continuation-Token` header with value `bravo`, your subsequent\ncall can include `ct=bravo`.",
            "schema": {
              "type": "string",
              "allOf": [
                {
                  "$ref": "#/components/schemas/Int64ContinuationToken"
                }
              ],
              "format": "opaque"
            }
          },
          {
            "$ref": "#/components/parameters/X-Falu-Version"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "X-Trace-Id": {
                "$ref": "#/components/headers/X-Trace-Id"
              },
              "X-Request-Id": {
                "$ref": "#/components/headers/X-Request-Id"
              },
              "X-Continuation-Token": {
                "$ref": "#/components/headers/X-Continuation-Token"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Coupon"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          }
        },
        "x-supports-pagination": true
      },
      "post": {
        "tags": [
          "Coupons"
        ],
        "summary": "Create a coupon",
        "operationId": "coupons-create",
        "parameters": [
          {
            "$ref": "#/components/parameters/X-Falu-Version"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/CouponCreateOptions"
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "X-Trace-Id": {
                "$ref": "#/components/headers/X-Trace-Id"
              },
              "X-Request-Id": {
                "$ref": "#/components/headers/X-Request-Id"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Coupon"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          }
        },
        "x-error-codes": [
          "product_not_found"
        ]
      }
    },
    "/v1/billing/coupons/{id}": {
      "get": {
        "tags": [
          "Coupons"
        ],
        "summary": "Retrieve a coupon",
        "operationId": "coupons-get",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Unique identifier for the coupon",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/X-Falu-Version"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "X-Trace-Id": {
                "$ref": "#/components/headers/X-Trace-Id"
              },
              "X-Request-Id": {
                "$ref": "#/components/headers/X-Request-Id"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Coupon"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          }
        }
      },
      "patch": {
        "tags": [
          "Coupons"
        ],
        "summary": "Update a coupon",
        "operationId": "coupons-update",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Unique identifier of the coupon",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/X-Falu-Version"
          }
        ],
        "requestBody": {
          "description": "",
          "content": {
            "application/merge-patch+json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/CouponUpdateOptions"
                  }
                ]
              }
            },
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/CouponUpdateOptions"
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "X-Trace-Id": {
                "$ref": "#/components/headers/X-Trace-Id"
              },
              "X-Request-Id": {
                "$ref": "#/components/headers/X-Request-Id"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Coupon"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          }
        },
        "x-error-codes": [
          "coupon_not_found"
        ]
      },
      "delete": {
        "tags": [
          "Coupons"
        ],
        "summary": "Delete a coupon",
        "operationId": "coupons-delete",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Unique identifier of the coupon",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/X-Falu-Version"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "X-Trace-Id": {
                "$ref": "#/components/headers/X-Trace-Id"
              },
              "X-Request-Id": {
                "$ref": "#/components/headers/X-Request-Id"
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          }
        },
        "x-error-codes": [
          "coupon_not_found",
          "coupon_cannot_be_modified"
        ]
      }
    },
    "/v1/billing/credit_notes": {
      "get": {
        "tags": [
          "Credit Notes"
        ],
        "summary": "List credit notes",
        "operationId": "credit-notes-list",
        "parameters": [
          {
            "name": "customer",
            "in": "query",
            "description": "Filter options for `customer` property.",
            "schema": {
              "type": "string",
              "example": "cust_602a8dd0a54847479a874de4"
            },
            "example": "cust_602a8dd0a54847479a874de4"
          },
          {
            "name": "invoice",
            "in": "query",
            "description": "Filter options for `invoice` property.",
            "schema": {
              "type": "string",
              "example": "inv_602a8dd0a54847479a874de4"
            },
            "example": "inv_602a8dd0a54847479a874de4"
          },
          {
            "name": "reason",
            "in": "query",
            "description": "Filter options for `reason` property.",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/components/schemas/CreditNoteReason"
              }
            }
          },
          {
            "name": "status",
            "in": "query",
            "description": "Filter options for `status` property.",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/components/schemas/CreditNoteStatus"
              }
            }
          },
          {
            "name": "created.eq",
            "in": "query",
            "description": "Option for equal (=).\nRecommended only for fixed integral values.",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "created.lt",
            "in": "query",
            "description": "Option for less than (<).",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "created.lte",
            "in": "query",
            "description": "Option for less than or equal to (<=).",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "created.gt",
            "in": "query",
            "description": "Option for greater than (>).",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "created.gte",
            "in": "query",
            "description": "Option for greater than or equal to (>=).",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Order to use for sorting the objects returned. Defaults to `desc`.",
            "schema": {
              "allOf": [
                {
                  "$ref": "#/components/schemas/SortingOrder"
                }
              ],
              "default": "desc"
            }
          },
          {
            "name": "count",
            "in": "query",
            "description": "Maximum number of objects to return. Defaults to `10`.",
            "schema": {
              "maximum": 100,
              "minimum": 1,
              "type": "integer",
              "format": "int32",
              "default": 10
            }
          },
          {
            "name": "ct",
            "in": "query",
            "description": "A cursor for use in pagination.\nThe token from a previous request as gotten from the header of it's response.\nFor instance, if you make a request and receive 10 objects, the response contain\na `X-Continuation-Token` header with value `bravo`, your subsequent\ncall can include `ct=bravo`.",
            "schema": {
              "type": "string",
              "allOf": [
                {
                  "$ref": "#/components/schemas/Int64ContinuationToken"
                }
              ],
              "format": "opaque"
            }
          },
          {
            "$ref": "#/components/parameters/X-Falu-Version"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "X-Trace-Id": {
                "$ref": "#/components/headers/X-Trace-Id"
              },
              "X-Request-Id": {
                "$ref": "#/components/headers/X-Request-Id"
              },
              "X-Continuation-Token": {
                "$ref": "#/components/headers/X-Continuation-Token"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CreditNote"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          }
        },
        "x-supports-pagination": true
      },
      "post": {
        "tags": [
          "Credit Notes"
        ],
        "summary": "Create a credit note",
        "operationId": "credit-notes-create",
        "parameters": [
          {
            "$ref": "#/components/parameters/X-Falu-Version"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/CreditNoteCreateOptions"
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "X-Trace-Id": {
                "$ref": "#/components/headers/X-Trace-Id"
              },
              "X-Request-Id": {
                "$ref": "#/components/headers/X-Request-Id"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreditNote"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          }
        },
        "x-error-codes": [
          "invoice_not_found",
          "invoice_invalid_data",
          "invoice_item_not_found",
          "credit_note_invalid_data"
        ]
      }
    },
    "/v1/billing/credit_notes/{id}": {
      "get": {
        "tags": [
          "Credit Notes"
        ],
        "summary": "Retrieve a credit note",
        "operationId": "credit-notes-get",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Unique identifier for the credit note",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/X-Falu-Version"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "X-Trace-Id": {
                "$ref": "#/components/headers/X-Trace-Id"
              },
              "X-Request-Id": {
                "$ref": "#/components/headers/X-Request-Id"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreditNote"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          }
        }
      },
      "patch": {
        "tags": [
          "Credit Notes"
        ],
        "summary": "Update a credit note",
        "operationId": "credit-notes-update",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Unique identifier of the credit note",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/X-Falu-Version"
          }
        ],
        "requestBody": {
          "description": "",
          "content": {
            "application/merge-patch+json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/CreditNoteUpdateOptions"
                  }
                ]
              }
            },
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/CreditNoteUpdateOptions"
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "X-Trace-Id": {
                "$ref": "#/components/headers/X-Trace-Id"
              },
              "X-Request-Id": {
                "$ref": "#/components/headers/X-Request-Id"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreditNote"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          }
        },
        "x-error-codes": [
          "credit_note_not_found"
        ]
      }
    },
    "/v1/billing/credit_notes/{id}/void": {
      "post": {
        "tags": [
          "Credit Notes"
        ],
        "summary": "Void a credit note",
        "operationId": "credit-notes-void",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Unique identifier of the credit note",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/X-Falu-Version"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "X-Trace-Id": {
                "$ref": "#/components/headers/X-Trace-Id"
              },
              "X-Request-Id": {
                "$ref": "#/components/headers/X-Request-Id"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreditNote"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          }
        },
        "x-error-codes": [
          "invoice_invalid_data",
          "credit_note_invalid_data",
          "credit_note_not_found"
        ]
      }
    },
    "/v1/billing/customer_tax_ids": {
      "get": {
        "tags": [
          "Customer Tax Ids"
        ],
        "summary": "List customer tax ids",
        "operationId": "customer-tax-ids-list",
        "parameters": [
          {
            "name": "customer",
            "in": "query",
            "description": "Filter options for `customer` property.",
            "required": true,
            "schema": {
              "type": "string",
              "example": "cust_602a8dd0a54847479a874de4"
            },
            "example": "cust_602a8dd0a54847479a874de4"
          },
          {
            "name": "country",
            "in": "query",
            "schema": {
              "maxLength": 3,
              "minLength": 0,
              "type": "string",
              "format": "currency",
              "example": "kes"
            }
          },
          {
            "name": "type",
            "in": "query",
            "description": "Filter options for `type` property.",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/components/schemas/CustomerTaxIdType"
              }
            }
          },
          {
            "name": "status",
            "in": "query",
            "description": "Filter options for `status` property.",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/components/schemas/CustomerTaxIdVerificationStatus"
              }
            }
          },
          {
            "name": "created.eq",
            "in": "query",
            "description": "Option for equal (=).\nRecommended only for fixed integral values.",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "created.lt",
            "in": "query",
            "description": "Option for less than (<).",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "created.lte",
            "in": "query",
            "description": "Option for less than or equal to (<=).",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "created.gt",
            "in": "query",
            "description": "Option for greater than (>).",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "created.gte",
            "in": "query",
            "description": "Option for greater than or equal to (>=).",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Order to use for sorting the objects returned. Defaults to `desc`.",
            "schema": {
              "allOf": [
                {
                  "$ref": "#/components/schemas/SortingOrder"
                }
              ],
              "default": "desc"
            }
          },
          {
            "name": "count",
            "in": "query",
            "description": "Maximum number of objects to return. Defaults to `10`.",
            "schema": {
              "maximum": 100,
              "minimum": 1,
              "type": "integer",
              "format": "int32",
              "default": 10
            }
          },
          {
            "name": "ct",
            "in": "query",
            "description": "A cursor for use in pagination.\nThe token from a previous request as gotten from the header of it's response.\nFor instance, if you make a request and receive 10 objects, the response contain\na `X-Continuation-Token` header with value `bravo`, your subsequent\ncall can include `ct=bravo`.",
            "schema": {
              "type": "string",
              "allOf": [
                {
                  "$ref": "#/components/schemas/Int64ContinuationToken"
                }
              ],
              "format": "opaque"
            }
          },
          {
            "$ref": "#/components/parameters/X-Falu-Version"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "X-Trace-Id": {
                "$ref": "#/components/headers/X-Trace-Id"
              },
              "X-Request-Id": {
                "$ref": "#/components/headers/X-Request-Id"
              },
              "X-Continuation-Token": {
                "$ref": "#/components/headers/X-Continuation-Token"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CustomerTaxId"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          }
        },
        "x-supports-pagination": true
      },
      "post": {
        "tags": [
          "Customer Tax Ids"
        ],
        "summary": "Create a customer tax id",
        "operationId": "customer-tax-ids-create",
        "parameters": [
          {
            "$ref": "#/components/parameters/X-Falu-Version"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/CustomerTaxIdCreateOptions"
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "X-Trace-Id": {
                "$ref": "#/components/headers/X-Trace-Id"
              },
              "X-Request-Id": {
                "$ref": "#/components/headers/X-Request-Id"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomerTaxId"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          }
        },
        "x-error-codes": [
          "customer_not_found"
        ]
      }
    },
    "/v1/billing/customer_tax_ids/{id}": {
      "get": {
        "tags": [
          "Customer Tax Ids"
        ],
        "summary": "Retrieve a customer tax id",
        "operationId": "customer-tax-ids-get",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Unique identifier for the coupon",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/X-Falu-Version"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "X-Trace-Id": {
                "$ref": "#/components/headers/X-Trace-Id"
              },
              "X-Request-Id": {
                "$ref": "#/components/headers/X-Request-Id"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomerTaxId"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          }
        }
      },
      "delete": {
        "tags": [
          "Customer Tax Ids"
        ],
        "summary": "Delete a customer tax id",
        "operationId": "customer-tax-ids-delete",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Unique identifier of the customer tax id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/X-Falu-Version"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "X-Trace-Id": {
                "$ref": "#/components/headers/X-Trace-Id"
              },
              "X-Request-Id": {
                "$ref": "#/components/headers/X-Request-Id"
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          }
        },
        "x-error-codes": [
          "customer_tax_id_not_found",
          "customer_tax_id_cannot_be_modified"
        ]
      }
    },
    "/v1/billing/customers": {
      "get": {
        "tags": [
          "Customers"
        ],
        "summary": "List customers",
        "operationId": "customers-list",
        "parameters": [
          {
            "name": "email",
            "in": "query",
            "description": "Filter options for `email` property.",
            "schema": {
              "type": "string",
              "format": "email",
              "example": "user@example.com"
            }
          },
          {
            "name": "phone",
            "in": "query",
            "description": "Filter options for `phone` property.",
            "schema": {
              "type": "string",
              "format": "tel",
              "example": "+254722000000"
            }
          },
          {
            "name": "timezone",
            "in": "query",
            "description": "Filter options for `timezone` property.",
            "schema": {
              "type": "string",
              "format": "timezone",
              "example": "Africa/Nairobi"
            }
          },
          {
            "name": "type",
            "in": "query",
            "description": "Filter options for `type` property.",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/components/schemas/CustomerType"
              }
            }
          },
          {
            "name": "created.eq",
            "in": "query",
            "description": "Option for equal (=).\nRecommended only for fixed integral values.",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "created.lt",
            "in": "query",
            "description": "Option for less than (<).",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "created.lte",
            "in": "query",
            "description": "Option for less than or equal to (<=).",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "created.gt",
            "in": "query",
            "description": "Option for greater than (>).",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "created.gte",
            "in": "query",
            "description": "Option for greater than or equal to (>=).",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Order to use for sorting the objects returned. Defaults to `desc`.",
            "schema": {
              "allOf": [
                {
                  "$ref": "#/components/schemas/SortingOrder"
                }
              ],
              "default": "desc"
            }
          },
          {
            "name": "count",
            "in": "query",
            "description": "Maximum number of objects to return. Defaults to `10`.",
            "schema": {
              "maximum": 100,
              "minimum": 1,
              "type": "integer",
              "format": "int32",
              "default": 10
            }
          },
          {
            "name": "ct",
            "in": "query",
            "description": "A cursor for use in pagination.\nThe token from a previous request as gotten from the header of it's response.\nFor instance, if you make a request and receive 10 objects, the response contain\na `X-Continuation-Token` header with value `bravo`, your subsequent\ncall can include `ct=bravo`.",
            "schema": {
              "type": "string",
              "allOf": [
                {
                  "$ref": "#/components/schemas/Int64ContinuationToken"
                }
              ],
              "format": "opaque"
            }
          },
          {
            "$ref": "#/components/parameters/X-Falu-Version"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "X-Trace-Id": {
                "$ref": "#/components/headers/X-Trace-Id"
              },
              "X-Request-Id": {
                "$ref": "#/components/headers/X-Request-Id"
              },
              "X-Continuation-Token": {
                "$ref": "#/components/headers/X-Continuation-Token"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Customer"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          }
        },
        "x-supports-pagination": true
      },
      "post": {
        "tags": [
          "Customers"
        ],
        "summary": "Create a customer",
        "operationId": "customers-create",
        "parameters": [
          {
            "$ref": "#/components/parameters/X-Falu-Version"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/CustomerCreateOptions"
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "X-Trace-Id": {
                "$ref": "#/components/headers/X-Trace-Id"
              },
              "X-Request-Id": {
                "$ref": "#/components/headers/X-Request-Id"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Customer"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          }
        },
        "x-error-codes": [
          "payment_method_not_found",
          "coupon_not_found",
          "coupon_not_active",
          "coupon_expired"
        ]
      }
    },
    "/v1/billing/customers/{id}": {
      "get": {
        "tags": [
          "Customers"
        ],
        "summary": "Retrieve a customer",
        "operationId": "customers-get",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Unique identifier for the customer",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/X-Falu-Version"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "X-Trace-Id": {
                "$ref": "#/components/headers/X-Trace-Id"
              },
              "X-Request-Id": {
                "$ref": "#/components/headers/X-Request-Id"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Customer"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          }
        }
      },
      "patch": {
        "tags": [
          "Customers"
        ],
        "summary": "Update a customer",
        "operationId": "customers-update",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Unique identifier of the customer",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/X-Falu-Version"
          }
        ],
        "requestBody": {
          "description": "",
          "content": {
            "application/merge-patch+json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/CustomerUpdateOptions"
                  }
                ]
              }
            },
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/CustomerUpdateOptions"
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "X-Trace-Id": {
                "$ref": "#/components/headers/X-Trace-Id"
              },
              "X-Request-Id": {
                "$ref": "#/components/headers/X-Request-Id"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Customer"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          }
        },
        "x-error-codes": [
          "customer_not_found",
          "payment_method_not_found",
          "customer_invalid_data",
          "coupon_not_found",
          "coupon_not_active",
          "coupon_expired",
          "coupon_already_applied"
        ]
      }
    },
    "/v1/billing/customers/{id}/redact": {
      "post": {
        "tags": [
          "Customers"
        ],
        "summary": "Redact a customer",
        "description": "Redact a customer to remove all collected information from Falu.\nThis will redact the Customer and all objects related to it,\nincluding Events, request logs, etc.\n\nThe redaction process may take up a week. When the redaction process is in progress,\nthe Customer's `redaction.status` field will be set to `processing`;\nwhen the process is finished, it will change to `redacted` and a\n`customer.redacted` event will be emitted.\n\nRedaction is irreversible. Redacted objects are still accessible in the API,\nbut all the fields that contain personal data will be replaced by the string\n`[redacted]` or a similar placeholder. The metadata field will also be erased.\nRedacted objects cannot be updated or used for any purpose.",
        "operationId": "customers-redact",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Unique identifier of the customer",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/X-Falu-Version"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "X-Trace-Id": {
                "$ref": "#/components/headers/X-Trace-Id"
              },
              "X-Request-Id": {
                "$ref": "#/components/headers/X-Request-Id"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Customer"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          }
        },
        "x-error-codes": [
          "customer_not_found",
          "object_cannot_be_redacted",
          "object_redaction_in_progress"
        ]
      }
    },
    "/v1/billing/customers/balances/transactions": {
      "get": {
        "tags": [
          "Customer Balance Transactions"
        ],
        "summary": "List customer balance transactions",
        "operationId": "customer-balance-transactions-list",
        "parameters": [
          {
            "name": "customer",
            "in": "query",
            "description": "Filter options for `customer` property.",
            "required": true,
            "schema": {
              "type": "string",
              "example": "cust_602a8dd0a54847479a874de4"
            },
            "example": "cust_602a8dd0a54847479a874de4"
          },
          {
            "name": "created.eq",
            "in": "query",
            "description": "Option for equal (=).\nRecommended only for fixed integral values.",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "created.lt",
            "in": "query",
            "description": "Option for less than (<).",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "created.lte",
            "in": "query",
            "description": "Option for less than or equal to (<=).",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "created.gt",
            "in": "query",
            "description": "Option for greater than (>).",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "created.gte",
            "in": "query",
            "description": "Option for greater than or equal to (>=).",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Order to use for sorting the objects returned. Defaults to `desc`.",
            "schema": {
              "allOf": [
                {
                  "$ref": "#/components/schemas/SortingOrder"
                }
              ],
              "default": "desc"
            }
          },
          {
            "name": "count",
            "in": "query",
            "description": "Maximum number of objects to return. Defaults to `10`.",
            "schema": {
              "maximum": 100,
              "minimum": 1,
              "type": "integer",
              "format": "int32",
              "default": 10
            }
          },
          {
            "name": "ct",
            "in": "query",
            "description": "A cursor for use in pagination.\nThe token from a previous request as gotten from the header of it's response.\nFor instance, if you make a request and receive 10 objects, the response contain\na `X-Continuation-Token` header with value `bravo`, your subsequent\ncall can include `ct=bravo`.",
            "schema": {
              "type": "string",
              "allOf": [
                {
                  "$ref": "#/components/schemas/Int64ContinuationToken"
                }
              ],
              "format": "opaque"
            }
          },
          {
            "$ref": "#/components/parameters/X-Falu-Version"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "X-Trace-Id": {
                "$ref": "#/components/headers/X-Trace-Id"
              },
              "X-Request-Id": {
                "$ref": "#/components/headers/X-Request-Id"
              },
              "X-Continuation-Token": {
                "$ref": "#/components/headers/X-Continuation-Token"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CustomerBalanceTransaction"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          }
        },
        "x-supports-pagination": true
      },
      "post": {
        "tags": [
          "Customer Balance Transactions"
        ],
        "summary": "Create a customer balance transaction",
        "operationId": "customer-balance-transactions-create",
        "parameters": [
          {
            "$ref": "#/components/parameters/X-Falu-Version"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/CustomerBalanceTransactionCreateOptions"
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "X-Trace-Id": {
                "$ref": "#/components/headers/X-Trace-Id"
              },
              "X-Request-Id": {
                "$ref": "#/components/headers/X-Request-Id"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomerBalanceTransaction"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          }
        },
        "x-error-codes": [
          "customer_not_found"
        ]
      }
    },
    "/v1/billing/customers/balances/transactions/{id}": {
      "get": {
        "tags": [
          "Customer Balance Transactions"
        ],
        "summary": "Retrieve a customer balance transaction",
        "operationId": "customer-balance-transactions-get",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Unique identifier for the customer balance transaction",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/X-Falu-Version"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "X-Trace-Id": {
                "$ref": "#/components/headers/X-Trace-Id"
              },
              "X-Request-Id": {
                "$ref": "#/components/headers/X-Request-Id"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomerBalanceTransaction"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          }
        }
      },
      "patch": {
        "tags": [
          "Customer Balance Transactions"
        ],
        "summary": "Update a customer balance transaction",
        "operationId": "customer-balance-transactions-update",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Unique identifier of the customer balance transaction",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/X-Falu-Version"
          }
        ],
        "requestBody": {
          "description": "",
          "content": {
            "application/merge-patch+json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/CustomerBalanceTransactionUpdateOptions"
                  }
                ]
              }
            },
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/CustomerBalanceTransactionUpdateOptions"
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "X-Trace-Id": {
                "$ref": "#/components/headers/X-Trace-Id"
              },
              "X-Request-Id": {
                "$ref": "#/components/headers/X-Request-Id"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomerBalanceTransaction"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          }
        },
        "x-error-codes": [
          "customer_balance_transaction_not_found"
        ]
      }
    },
    "/v1/billing/discounts": {
      "get": {
        "tags": [
          "Discounts"
        ],
        "summary": "List discounts",
        "operationId": "discounts-list",
        "parameters": [
          {
            "name": "customer",
            "in": "query",
            "description": "Filter options for `customer` property.",
            "schema": {
              "type": "string",
              "example": "cust_602a8dd0a54847479a874de4"
            },
            "example": "cust_602a8dd0a54847479a874de4"
          },
          {
            "name": "subscription",
            "in": "query",
            "description": "Filter options for `subscription` property.",
            "schema": {
              "type": "string",
              "example": "sub_602a8dd0a54847479a874de4"
            },
            "example": "sub_602a8dd0a54847479a874de4"
          },
          {
            "name": "invoice",
            "in": "query",
            "description": "Filter options for `invoice` property.",
            "schema": {
              "type": "string",
              "example": "inv_602a8dd0a54847479a874de4"
            },
            "example": "inv_602a8dd0a54847479a874de4"
          },
          {
            "name": "created.eq",
            "in": "query",
            "description": "Option for equal (=).\nRecommended only for fixed integral values.",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "created.lt",
            "in": "query",
            "description": "Option for less than (<).",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "created.lte",
            "in": "query",
            "description": "Option for less than or equal to (<=).",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "created.gt",
            "in": "query",
            "description": "Option for greater than (>).",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "created.gte",
            "in": "query",
            "description": "Option for greater than or equal to (>=).",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Order to use for sorting the objects returned. Defaults to `desc`.",
            "schema": {
              "allOf": [
                {
                  "$ref": "#/components/schemas/SortingOrder"
                }
              ],
              "default": "desc"
            }
          },
          {
            "name": "count",
            "in": "query",
            "description": "Maximum number of objects to return. Defaults to `10`.",
            "schema": {
              "maximum": 100,
              "minimum": 1,
              "type": "integer",
              "format": "int32",
              "default": 10
            }
          },
          {
            "name": "ct",
            "in": "query",
            "description": "A cursor for use in pagination.\nThe token from a previous request as gotten from the header of it's response.\nFor instance, if you make a request and receive 10 objects, the response contain\na `X-Continuation-Token` header with value `bravo`, your subsequent\ncall can include `ct=bravo`.",
            "schema": {
              "type": "string",
              "allOf": [
                {
                  "$ref": "#/components/schemas/Int64ContinuationToken"
                }
              ],
              "format": "opaque"
            }
          },
          {
            "$ref": "#/components/parameters/X-Falu-Version"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "X-Trace-Id": {
                "$ref": "#/components/headers/X-Trace-Id"
              },
              "X-Request-Id": {
                "$ref": "#/components/headers/X-Request-Id"
              },
              "X-Continuation-Token": {
                "$ref": "#/components/headers/X-Continuation-Token"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Discount"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          }
        },
        "x-supports-pagination": true
      }
    },
    "/v1/billing/discounts/{id}": {
      "get": {
        "tags": [
          "Discounts"
        ],
        "summary": "Retrieve a discount",
        "operationId": "discounts-get",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Unique identifier for the discount",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/X-Falu-Version"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "X-Trace-Id": {
                "$ref": "#/components/headers/X-Trace-Id"
              },
              "X-Request-Id": {
                "$ref": "#/components/headers/X-Request-Id"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Discount"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          }
        }
      }
    },
    "/v1/billing/invoice_items": {
      "get": {
        "tags": [
          "Invoice Items"
        ],
        "summary": "List invoice items",
        "operationId": "invoice-items-list",
        "parameters": [
          {
            "name": "customer",
            "in": "query",
            "description": "Filter options for `customer` property.",
            "schema": {
              "type": "string",
              "example": "cust_602a8dd0a54847479a874de4"
            },
            "example": "cust_602a8dd0a54847479a874de4"
          },
          {
            "name": "invoice",
            "in": "query",
            "description": "Filter options for `invoice` property.",
            "schema": {
              "type": "string",
              "example": "inv_602a8dd0a54847479a874de4"
            },
            "example": "inv_602a8dd0a54847479a874de4"
          },
          {
            "name": "subscription",
            "in": "query",
            "description": "Filter options for `subscription` property.",
            "schema": {
              "type": "string",
              "example": "sub_602a8dd0a54847479a874de4"
            },
            "example": "sub_602a8dd0a54847479a874de4"
          },
          {
            "name": "subscription_item",
            "in": "query",
            "description": "Filter options for `subscription_item` property.",
            "schema": {
              "type": "string",
              "example": "subi_602a8dd0a54847479a874de4"
            },
            "example": "subi_602a8dd0a54847479a874de4"
          },
          {
            "name": "product",
            "in": "query",
            "description": "Filter options for `product` property.",
            "schema": {
              "type": "string",
              "example": "prod_602a8dd0a54847479a874de4"
            },
            "example": "prod_602a8dd0a54847479a874de4"
          },
          {
            "name": "price",
            "in": "query",
            "description": "Filter options for `price` property.",
            "schema": {
              "type": "string",
              "example": "price_602a8dd0a54847479a874de4"
            },
            "example": "price_602a8dd0a54847479a874de4"
          },
          {
            "name": "created.eq",
            "in": "query",
            "description": "Option for equal (=).\nRecommended only for fixed integral values.",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "created.lt",
            "in": "query",
            "description": "Option for less than (<).",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "created.lte",
            "in": "query",
            "description": "Option for less than or equal to (<=).",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "created.gt",
            "in": "query",
            "description": "Option for greater than (>).",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "created.gte",
            "in": "query",
            "description": "Option for greater than or equal to (>=).",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Order to use for sorting the objects returned. Defaults to `desc`.",
            "schema": {
              "allOf": [
                {
                  "$ref": "#/components/schemas/SortingOrder"
                }
              ],
              "default": "desc"
            }
          },
          {
            "name": "count",
            "in": "query",
            "description": "Maximum number of objects to return. Defaults to `10`.",
            "schema": {
              "maximum": 100,
              "minimum": 1,
              "type": "integer",
              "format": "int32",
              "default": 10
            }
          },
          {
            "name": "ct",
            "in": "query",
            "description": "A cursor for use in pagination.\nThe token from a previous request as gotten from the header of it's response.\nFor instance, if you make a request and receive 10 objects, the response contain\na `X-Continuation-Token` header with value `bravo`, your subsequent\ncall can include `ct=bravo`.",
            "schema": {
              "type": "string",
              "allOf": [
                {
                  "$ref": "#/components/schemas/Int64ContinuationToken"
                }
              ],
              "format": "opaque"
            }
          },
          {
            "$ref": "#/components/parameters/X-Falu-Version"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "X-Trace-Id": {
                "$ref": "#/components/headers/X-Trace-Id"
              },
              "X-Request-Id": {
                "$ref": "#/components/headers/X-Request-Id"
              },
              "X-Continuation-Token": {
                "$ref": "#/components/headers/X-Continuation-Token"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/InvoiceItem"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          }
        },
        "x-supports-pagination": true
      }
    },
    "/v1/billing/invoice_items/{id}": {
      "get": {
        "tags": [
          "Invoice Items"
        ],
        "summary": "Retrieve an invoice item",
        "operationId": "invoice-items-get",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Unique identifier for the invoice item",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/X-Falu-Version"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "X-Trace-Id": {
                "$ref": "#/components/headers/X-Trace-Id"
              },
              "X-Request-Id": {
                "$ref": "#/components/headers/X-Request-Id"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InvoiceItem"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          }
        }
      },
      "patch": {
        "tags": [
          "Invoice Items"
        ],
        "summary": "Update an invoice item",
        "operationId": "invoice-items-update",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Unique identifier of the invoice item",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/X-Falu-Version"
          }
        ],
        "requestBody": {
          "description": "",
          "content": {
            "application/merge-patch+json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/InvoiceItemUpdateOptions"
                  }
                ]
              }
            },
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/InvoiceItemUpdateOptions"
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "X-Trace-Id": {
                "$ref": "#/components/headers/X-Trace-Id"
              },
              "X-Request-Id": {
                "$ref": "#/components/headers/X-Request-Id"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InvoiceItem"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          }
        },
        "x-error-codes": [
          "invoice_item_not_found"
        ]
      }
    },
    "/v1/billing/invoices": {
      "get": {
        "tags": [
          "Invoices"
        ],
        "summary": "List invoices",
        "operationId": "invoices-list",
        "parameters": [
          {
            "name": "status",
            "in": "query",
            "description": "Filter options for `status` property.",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/components/schemas/InvoiceStatus"
              }
            }
          },
          {
            "name": "customer",
            "in": "query",
            "description": "Filter options for `customer` property.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "subscription",
            "in": "query",
            "description": "Filter options for `subscription` property.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "created.eq",
            "in": "query",
            "description": "Option for equal (=).\nRecommended only for fixed integral values.",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "created.lt",
            "in": "query",
            "description": "Option for less than (<).",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "created.lte",
            "in": "query",
            "description": "Option for less than or equal to (<=).",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "created.gt",
            "in": "query",
            "description": "Option for greater than (>).",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "created.gte",
            "in": "query",
            "description": "Option for greater than or equal to (>=).",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Order to use for sorting the objects returned. Defaults to `desc`.",
            "schema": {
              "allOf": [
                {
                  "$ref": "#/components/schemas/SortingOrder"
                }
              ],
              "default": "desc"
            }
          },
          {
            "name": "count",
            "in": "query",
            "description": "Maximum number of objects to return. Defaults to `10`.",
            "schema": {
              "maximum": 100,
              "minimum": 1,
              "type": "integer",
              "format": "int32",
              "default": 10
            }
          },
          {
            "name": "ct",
            "in": "query",
            "description": "A cursor for use in pagination.\nThe token from a previous request as gotten from the header of it's response.\nFor instance, if you make a request and receive 10 objects, the response contain\na `X-Continuation-Token` header with value `bravo`, your subsequent\ncall can include `ct=bravo`.",
            "schema": {
              "type": "string",
              "allOf": [
                {
                  "$ref": "#/components/schemas/Int64ContinuationToken"
                }
              ],
              "format": "opaque"
            }
          },
          {
            "$ref": "#/components/parameters/X-Falu-Version"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "X-Trace-Id": {
                "$ref": "#/components/headers/X-Trace-Id"
              },
              "X-Request-Id": {
                "$ref": "#/components/headers/X-Request-Id"
              },
              "X-Continuation-Token": {
                "$ref": "#/components/headers/X-Continuation-Token"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Invoice"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          }
        },
        "x-supports-pagination": true
      }
    },
    "/v1/billing/invoices/{id}": {
      "get": {
        "tags": [
          "Invoices"
        ],
        "summary": "Retrieve an invoice",
        "operationId": "invoices-get",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Unique identifier for the invoice",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/X-Falu-Version"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "X-Trace-Id": {
                "$ref": "#/components/headers/X-Trace-Id"
              },
              "X-Request-Id": {
                "$ref": "#/components/headers/X-Request-Id"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Invoice"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          }
        }
      },
      "patch": {
        "tags": [
          "Invoices"
        ],
        "summary": "Update an invoice",
        "operationId": "invoices-update",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Unique identifier of the invoice",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/X-Falu-Version"
          }
        ],
        "requestBody": {
          "description": "",
          "content": {
            "application/merge-patch+json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/InvoiceUpdateOptions"
                  }
                ]
              }
            },
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/InvoiceUpdateOptions"
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "X-Trace-Id": {
                "$ref": "#/components/headers/X-Trace-Id"
              },
              "X-Request-Id": {
                "$ref": "#/components/headers/X-Request-Id"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Invoice"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          }
        },
        "x-error-codes": [
          "invoice_not_found",
          "invoice_invalid_data"
        ]
      }
    },
    "/v1/billing/invoices/{id}/finalize": {
      "post": {
        "tags": [
          "Invoices"
        ],
        "summary": "Finalize an invoice",
        "operationId": "invoices-finalize",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Unique identifier of the invoice",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/X-Falu-Version"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "X-Trace-Id": {
                "$ref": "#/components/headers/X-Trace-Id"
              },
              "X-Request-Id": {
                "$ref": "#/components/headers/X-Request-Id"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Invoice"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          }
        },
        "x-error-codes": [
          "invoice_not_found",
          "invoice_invalid_data"
        ]
      }
    },
    "/v1/billing/invoices/{id}/pay": {
      "post": {
        "tags": [
          "Invoices"
        ],
        "summary": "Pay an invoice.",
        "operationId": "invoices-pay",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Unique identifier of the invoice",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/X-Falu-Version"
          }
        ],
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/InvoicePayOptions"
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "X-Trace-Id": {
                "$ref": "#/components/headers/X-Trace-Id"
              },
              "X-Request-Id": {
                "$ref": "#/components/headers/X-Request-Id"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Invoice"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          }
        },
        "x-error-codes": [
          "invoice_not_found",
          "invoice_invalid_data"
        ]
      }
    },
    "/v1/billing/invoices/{id}/void": {
      "post": {
        "tags": [
          "Invoices"
        ],
        "summary": "Void an invoice",
        "operationId": "invoices-void",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Unique identifier of the invoice",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/X-Falu-Version"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "X-Trace-Id": {
                "$ref": "#/components/headers/X-Trace-Id"
              },
              "X-Request-Id": {
                "$ref": "#/components/headers/X-Request-Id"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Invoice"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          }
        },
        "x-error-codes": [
          "invoice_not_found",
          "invoice_invalid_data"
        ]
      }
    },
    "/v1/billing/invoices/{id}/write_off": {
      "post": {
        "tags": [
          "Invoices"
        ],
        "summary": "Write off an invoice as a bad debt for accounting purposes.",
        "operationId": "invoices-write-off",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Unique identifier of the invoice",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/X-Falu-Version"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "X-Trace-Id": {
                "$ref": "#/components/headers/X-Trace-Id"
              },
              "X-Request-Id": {
                "$ref": "#/components/headers/X-Request-Id"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Invoice"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          }
        },
        "x-error-codes": [
          "invoice_not_found",
          "invoice_invalid_data"
        ]
      }
    },
    "/v1/billing/invoices/upcoming": {
      "post": {
        "tags": [
          "Invoices"
        ],
        "summary": "Retrieve an upcoming invoice",
        "operationId": "invoices-generate-upcoming",
        "parameters": [
          {
            "$ref": "#/components/parameters/X-Falu-Version"
          }
        ],
        "requestBody": {
          "description": "Options for retrieving an upcoming invoice.",
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/UpcomingInvoiceOptions"
                  }
                ],
                "description": "Options for upcoming invoices."
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "X-Trace-Id": {
                "$ref": "#/components/headers/X-Trace-Id"
              },
              "X-Request-Id": {
                "$ref": "#/components/headers/X-Request-Id"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Invoice"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          }
        },
        "x-error-codes": [
          "subscription_not_found",
          "invoice_invalid_data"
        ]
      }
    },
    "/v1/billing/payment_methods": {
      "get": {
        "tags": [
          "Payment Methods"
        ],
        "summary": "List payment methods",
        "operationId": "payment-methods-list",
        "parameters": [
          {
            "name": "type",
            "in": "query",
            "description": "Filter options for `type` property.",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/components/schemas/PaymentMethodType"
              }
            }
          },
          {
            "name": "customer",
            "in": "query",
            "description": "Filter options for `customer` property.",
            "schema": {
              "type": "string",
              "example": "cust_602a8dd0a54847479a874de4"
            },
            "example": "cust_602a8dd0a54847479a874de4"
          },
          {
            "name": "created.eq",
            "in": "query",
            "description": "Option for equal (=).\nRecommended only for fixed integral values.",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "created.lt",
            "in": "query",
            "description": "Option for less than (<).",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "created.lte",
            "in": "query",
            "description": "Option for less than or equal to (<=).",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "created.gt",
            "in": "query",
            "description": "Option for greater than (>).",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "created.gte",
            "in": "query",
            "description": "Option for greater than or equal to (>=).",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Order to use for sorting the objects returned. Defaults to `desc`.",
            "schema": {
              "allOf": [
                {
                  "$ref": "#/components/schemas/SortingOrder"
                }
              ],
              "default": "desc"
            }
          },
          {
            "name": "count",
            "in": "query",
            "description": "Maximum number of objects to return. Defaults to `10`.",
            "schema": {
              "maximum": 100,
              "minimum": 1,
              "type": "integer",
              "format": "int32",
              "default": 10
            }
          },
          {
            "name": "ct",
            "in": "query",
            "description": "A cursor for use in pagination.\nThe token from a previous request as gotten from the header of it's response.\nFor instance, if you make a request and receive 10 objects, the response contain\na `X-Continuation-Token` header with value `bravo`, your subsequent\ncall can include `ct=bravo`.",
            "schema": {
              "type": "string",
              "allOf": [
                {
                  "$ref": "#/components/schemas/Int64ContinuationToken"
                }
              ],
              "format": "opaque"
            }
          },
          {
            "$ref": "#/components/parameters/X-Falu-Version"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "X-Trace-Id": {
                "$ref": "#/components/headers/X-Trace-Id"
              },
              "X-Request-Id": {
                "$ref": "#/components/headers/X-Request-Id"
              },
              "X-Continuation-Token": {
                "$ref": "#/components/headers/X-Continuation-Token"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/PaymentMethod"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          }
        },
        "x-supports-pagination": true
      },
      "post": {
        "tags": [
          "Payment Methods"
        ],
        "summary": "Create a payment method",
        "operationId": "payment-methods-create",
        "parameters": [
          {
            "$ref": "#/components/parameters/X-Falu-Version"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/PaymentMethodCreateOptions"
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "X-Trace-Id": {
                "$ref": "#/components/headers/X-Trace-Id"
              },
              "X-Request-Id": {
                "$ref": "#/components/headers/X-Request-Id"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaymentMethod"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          }
        },
        "x-error-codes": [
          "invalid_settings",
          "insufficient_balance"
        ]
      }
    },
    "/v1/billing/payment_methods/{id}": {
      "get": {
        "tags": [
          "Payment Methods"
        ],
        "summary": "Retrieve a payment method",
        "operationId": "payment-methods-get",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Unique identifier for the payment method",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/X-Falu-Version"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "X-Trace-Id": {
                "$ref": "#/components/headers/X-Trace-Id"
              },
              "X-Request-Id": {
                "$ref": "#/components/headers/X-Request-Id"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaymentMethod"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          }
        }
      },
      "patch": {
        "tags": [
          "Payment Methods"
        ],
        "summary": "Update a payment method",
        "operationId": "payment-methods-update",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Unique identifier for the payment method",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/X-Falu-Version"
          }
        ],
        "requestBody": {
          "description": "",
          "content": {
            "application/merge-patch+json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/PaymentMethodUpdateOptions"
                  }
                ],
                "description": "Represents the details that can be patched in a payment method."
              }
            },
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/PaymentMethodUpdateOptions"
                  }
                ],
                "description": "Represents the details that can be patched in a payment method."
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "X-Trace-Id": {
                "$ref": "#/components/headers/X-Trace-Id"
              },
              "X-Request-Id": {
                "$ref": "#/components/headers/X-Request-Id"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaymentMethod"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          }
        },
        "x-error-codes": [
          "payment_method_not_found"
        ]
      }
    },
    "/v1/billing/payment_methods/{id}/attach": {
      "post": {
        "tags": [
          "Payment Methods"
        ],
        "summary": "Attach a payment method to a customer",
        "operationId": "payment-methods-attach",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Unique identifier of the payment method",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/X-Falu-Version"
          }
        ],
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/PaymentMethodAttachOptions"
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "X-Trace-Id": {
                "$ref": "#/components/headers/X-Trace-Id"
              },
              "X-Request-Id": {
                "$ref": "#/components/headers/X-Request-Id"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaymentMethod"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          }
        },
        "x-error-codes": [
          "payment_method_not_found",
          "customer_not_found",
          "object_redacted",
          "payment_method_cannot_be_modified"
        ]
      }
    },
    "/v1/billing/payment_methods/{id}/detach": {
      "post": {
        "tags": [
          "Payment Methods"
        ],
        "summary": "Detach a payment method from a customer",
        "operationId": "payment-methods-detach",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Unique identifier of the payment method",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/X-Falu-Version"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "X-Trace-Id": {
                "$ref": "#/components/headers/X-Trace-Id"
              },
              "X-Request-Id": {
                "$ref": "#/components/headers/X-Request-Id"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaymentMethod"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
[...]
